<!DOCTYPE html>
<html lang="en" id="myApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edgue">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Angular Material -- Starter App</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">

  <!-- build:css -->
  <!-- endbuild -->

  <style type="text/css">
    [ng-cloak] {
      display: none;
    }
  </style>
</head>
<body ng-cloak
      layout="column"
      ng-controller="MainController as vm">

  <!-- Tool Bar -->
  <md-toolbar layout="row">
    <md-button class="menu"
               hide-gt-sm
               ng-click="vm.toggleSideNav()">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>
      Angular Material Starter
    </h1>
  </md-toolbar>

  <!-- Main Panel -->
  <div class="container" layout="row" flex>

    <!-- SideNav Panel -->
    <md-sidenav class="md-whiteframe-4dp"
                md-component-id="sideNav"
                md-is-locked-open="$mdMedia('gt-sm')">
      <md-list>
        <md-list-item ng-repeat="contact in vm.contacts">
          <md-button aria-label="Select a contact"
                     ng-click="vm.selectContact(contact)">
            <md-icon md-svg-src="{{contact.avatar}}"
                     class="avatar"></md-icon>
            {{vm.getFullName(contact)}}
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <!-- Content Panel -->
    <md-content id="content" flex>
      <md-icon md-svg-src="{{vm.selectedContact.avatar}}"
               class="avatar"></md-icon>
      <h2>{{vm.getFullName(vm.selectedContact)}}</h2>
      <p>
        {{vm.selectedContact.bio}}
      </p>

      <md-button class="share" md-no-ink aria-label="Make a contact"
                 ng-click="vm.makeContact($event)">
        <md-icon md-svg-icon="share"></md-icon>
      </md-button>
    </md-content>

  </div>

  <!-- build:js -->
  <script src="jspm_packages/system.js"></script>
  <script src="config.js"></script>
  <script>
    System
      .import('js/boot')
      .catch(console.error.bind(console));
  </script>
  <!-- endbuild -->

</body>
</html>