<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edgue">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Angular Material -- Starter App</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">

  <style type="text/css">
    [ng-cloak] {
      display: none;
    }

    /*.red {*/
      /*background-color: red;*/
    /*}*/

    /*.sideNav {*/
      /*background-color: lightskyblue;*/
    /*}*/

    /*#content {*/
      /*background: lightgreen;*/
    /*}*/
  </style>
</head>
<body ng-cloak
      layout="column"
      ng-controller="MainController as vm">

  <!-- Tool Bar -->
  <md-toolbar>
    <h2>
      Toolbar with Standard Buttons
    </h2>
  </md-toolbar>

  <div class="container" layout="row" flex>
    <!-- SideNav -->
    <md-sidenav class="md-whiteframe-4dp"
                md-is-locked-open="true">
      <md-list>
        <md-list-item ng-repeat="contact in vm.contacts">
          <md-button aria-label="Select a contact"
                     ng-click="vm.selectContact(contact)">
            <md-icon md-svg-src="{{contact.avatar}}"
                     class="avatar"></md-icon>
            {{vm.getFullName(contact)}}
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <!-- Main Content -->
    <md-content id="content" flex>
      <md-icon md-svg-src="assets/svg/avatar-1.svg"
               class="avatar"></md-icon>
      <h2>Thomas Burleson</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ipsam magnam numquam sunt vel. Animi earum iste molestias omnis quas quisquam voluptatem. At consectetur culpa cumque expedita non quis voluptatibus.</p>
    </md-content>
  </div>


  <script src="./jspm_packages/system.js"></script>
  <script src="./config.js"></script>
  <script>
    System
      .import('./js/boot')
      .catch(console.error.bind(console));
  </script>

</body>
</html>