<!-- Tool Bar -->
<md-toolbar layout="row">
  <md-button aria-label="Toggel Side Bar"
             class="menu"
             hide-gt-sm
             ng-click="vm.toggleSideNav()">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>
  <h1>
    Angular Material Starter
  </h1>
</md-toolbar>

<!-- Main Panel -->
<div class="container" layout="row" flex>

  <!-- SideNav Panel -->
  <md-sidenav class="md-whiteframe-4dp"
              md-component-id="sideNav"
              md-is-locked-open="$mdMedia('gt-sm')">
    <md-list>
      <md-list-item ng-repeat="contact in vm.contacts">
        <md-button aria-label="Select a contact"
                   ng-click="vm.selectContact(contact)">
          <md-icon md-svg-src="{{contact.avatar}}"
                   class="avatar"></md-icon>
          {{vm.getFullName(contact)}}
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <!-- Content Panel -->
  <md-content id="content" flex>
    <div ui-view=""></div>
  </md-content>

</div>
